body {
	background-image: url(img/imperfections.png), url(img/top_section.png);
	background-repeat: repeat, no-repeat;
	background-size: 50%, 70%;
	background-position-x: 5%, center;
	background-position-y: 0%, -20%;
	background-color: #D2ECE1;
}

ul.icons {
	list-style: none;
	position: absolute; /*absolute for now, awaiting bigger container*/
	right: 10%;
	bottom: 10%;
}

ul.icons li {
	display: inline-block;
	padding: 0 0.75em 0 0;
}

div.mlh a {
	color: black;
	position: absolute;
	bottom: 60px;
	right: 170px;
	border: 5px;
}

.interest {
	display: flex;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	bottom: 20%;
	align-items: center;
	width: 60%;
	height: 10%;
}

.interest button {
	font-size: large;
}

.prev-year {
	flex: 1;
	justify-content: flex-start;
	float: left;
	width: 50%; 
}

.signup {
	flex: 1;
	justify-content: flex-end;
	width: 50%;
	text-align: end;
}

.signup label {
	margin-right: 10%;
	font-size:22px
}

.signup-box {
	margin-top: 10px;
	width: 50%;
}

button {
	background-color: #b7d5c7;
	text-align: center;
	/* border-radius: 5px; */
}

button:hover {
	background-color: #62726a;
}

button:active {
	background-color: #363f3a;
}

.prev-year-button {
	padding: 2% 8%;
	margin: 10px
}

input {
	background-color: #ddebe5;
	height: 20px;
	padding: 10px 15px 10px 10px;
	margin: 5px;
	font-size: large;
}


#signup-button {
	height: 40px;
	font-weight: bold;
}
