body {
	background-image: url(img/imperfections.png), url(img/top_section.png);
	background-repeat: repeat, no-repeat;
	background-size: 50%, 70%;
	background-position-x: 5%, center;
	background-position-y: 0%, -10%;
	background-color: #D2ECE1;
}

/* placeholder font change, TODO remove this later */
* {
	font-family: 'Montserrat Alternates', sans-serif;
}

ul.icons {
	list-style: none;
	position: absolute; /*absolute for now, awaiting bigger container*/
	right: 10%;
	bottom: 10%;
}

ul.icons li {
	display: inline-block;
	padding: 0 0.75em 0 0;
}

ul.icons #email:hover {
  content: url('img/Email_hover.png');
}

ul.icons #instagram:hover {
  content: url('img/Instagram_hover.png');
}

ul.icons #facebook:hover {
  content: url('img/Facebook_hover.png');
}

ul.icons #twitter:hover {
  content: url('img/Twitter_hover.png');
}

div.mlh a {
	color: #7B988C;
	position: absolute;
	bottom: 60px;
	right: 185px;
	border: 5px;
}

button {
	background-color: #A7D3C0;
	text-align: center;
	border-radius: 5px;
}

button:hover {
	background-color: #80AB98;
}

button:active {
	background-color: #62726a;
}

.interest {
	display: flex;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	bottom: 20%;
	align-items: center;
	width: 70%;
	height: 10%;

	justify-content: space-around
}

@media screen and (max-width: 425px) {
	.interest {
			 flex-wrap: wrap;
	 }
}

.interest button {
	font-size: medium;
}

.prev-year {
	margin-left: 10%;
	flex: 1.75;
	justify-content: flex-start;
	float: right;
}

.prev-year-button {
	padding: 2% 6%;
	margin: 10px
}

.signup {
	flex: 1;
	justify-content: flex-end;
	text-align: end;
}

.signup-button {
	padding: 4% 20%;
	margin: 10px;
	font-weight: bold;
}

.signup button {
	font-size: large
}

input {
	background-color: #ddebe5;
	height: 20px;
	padding: 10px 15px 10px 10px;
	margin: 5px;
	font-size: large;
}

.end {
	color: #7B988C;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	bottom: 5%;
	text-align: center;
	width: fit-content
}
