@font-face {
  font-family: AT Nezue;
  src: url(./font/NEZUE\ ExtraBold.otf);
}

.shadow{
  -webkit-filter: drop-shadow( -1.5px 3px 0 rgba(37, 78, 30, 1));
  filter: drop-shadow( -1.5px 3px 0 rgba(37, 78, 30, 1));
}

body {
  padding: 0 !important;;
  margin: 0 !important;;
  background-color: #D2ECE1;
  background-image: url("img/sky-section.svg");
  background-repeat: no-repeat;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html { 
  scroll-behavior: smooth;
}

h1, h2 {
  color: #152F11;
  font-size: 32px;
  font-family: 'AT Nezue', sans-serif;
}

h3, h4, p {
  color: #152F11;
}


/* Header section */
.navbar {
  position: fixed;
  height: 59px;
  width: 100%;
  top:0;

  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;

  background-color: #E9F7F1;
  color: #fff;
}

.nav-links label {
  margin-right: 40px;
  color: #254E1E;
}

.nav-links li {
  display: flex;
  justify-content: center;
}

.nav-links a {
  text-decoration: none;

  color: #254E1E;
  font-family: 'AT Nezue';
  font-size: 20px;
}

/* LOGO */
.logo {
  padding-left: 36px;
  padding-top: 3px;

  font-weight: bold;
  font-size: 23px;
  font-family: 'AT Nezue';
  font-style: normal;
  font-weight: 900;
  font-size: 28px;
  line-height: 27px;
  display: flex;
  color: #9FC299;
  line-break: none;
  text-shadow: -1.5px 2px 0px #254E1E;
  
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.stroke{
  -webkit-text-stroke: 3px #254E1E;
}

.no-stroke{
  position: absolute;
}


/* NAVBAR MENU */
.menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
  margin-right: 40px;
}

.menu img {
  width: 26px;
  display: relative;
  bottom: 3px;
  -webkit-filter: drop-shadow(-1px 1px 0 #254E1E);
  filter: drop-shadow(-1px 1px 0 #254E1E);
}

.menu li {
  list-style: none;
  padding: 5px 14px;
}

.menu-flower {
  position: relative;
  right: -40px;
}

/* DROPDOWN MENU */
.services {
  position: relative; 
}

/* CHECKBOX HACK */
input[type=checkbox]{
  display: none;
} 
/*HAMBURGER MENU*/
.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
}
/* APPLYING MEDIA QUERIES */
@media (max-width: 1024px) {
  .menu { 
    display:none;
    position: absolute;
    background: rgba(233, 246, 241, 0.9);;
    right: 0;
    left: 0;
    top: 59px;
    text-align: center;
    padding: 16px 0;
    border-top: 1px solid #9fc4b4;
  }

  .logo {
    padding-left: 0;
  }

  .menu li + li {
    margin-top: 12px;
  }

  .menu-flower {
    right: auto;
  }
  input[type=checkbox]:checked ~ .menu{
    display: block;
  }

  .hamburger {
    display: block;
  }
}

.top_picture {
  width: 45%;
  padding-top: 10%;
  padding-left: 10%;
}

.timer {
  position: absolute;
  z-index: 0;
  padding-top: 320px;
  padding-left: 400px;
  max-width: 50%;
  max-height: 50%;
}

/* Page content container */
.container{
  margin-top: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header{
  width: 70%;
  display: flex;
  margin-bottom: 50px;
}

.all-hills {
  width: 100%;
  display: contents;
}

.hill {
  background-size: 100% 100%;
  margin: 0 -50%;
  padding: 0 -50%;
  width: 100%;
  display: flex;
  justify-content: center;
  width: 100%;
}

/* for any content that is on the hill */
.hill-content{
  width: 70%;
  max-width: 1200px;
}

.hill-content.right{
  width: 70%;
  display: flex;
  justify-content: flex-end;
}

/******************CSS for all the wooden planks ****************/
.wooden-sign {
  width: 100%;
  display: flex;
}

.sticks {
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: center;
  align-items: flex-start;
}

.sticks img{
  height: 100%;
}


/*all content in sign, including title and details*/
.wooden-sign .content{
  z-index: 20;
  margin: 0 -15%;
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wooden-sign .title {
  background-image: url('img/title-wood.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 3% 0;
  text-align: center;
  width: 100%;
}

.wooden-sign .details{
  background-image: url('img/details-wood.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 10% 7%;
  margin-top: -5%;
  width:85%;
}

.wooden-sign .list {
  width:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rope-and-sign {
  display: flex;
  flex-direction: column;
  align-items: center;
  width:100%;
}

.rope-and-sign .ropes{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 85%;
  height: 100%;
  z-index: 20;
}

.rope-and-sign .ropes img{
  height: 100%;
}

.rope-and-sign .details{
  /* background-image: url('img/list-details.svg'); */
  background-image: url('img/details-wood.svg');
  background-repeat: no-repeat;
  background-size:100% 100%;
  text-align: center;
  width: 100%;
  /* padding: 18% 7% 10% 7%;
  margin: -18% -7% -10% -7%; */
}


/************* Top section ************/

#hill-top {
  background-image: url('img/hill-top.svg'); 
  height: 800px;
  /* margin-bottom: -500px; */
}

.buttons-pole {
  display: flex;
  position: relative;
  height: 40%;
  margin-right: 15%;
  margin-top: -15%;
}

#hill-top .buttons{
  display: inline-flex;
  flex-direction: column;
  position: absolute;
  right: -70%;
}

.register{
  margin-top: 5%;
  margin-bottom: -5%;
}

.register:hover{
  transform: scale(1.1) rotate(-5deg);
}

.discord:hover{
  transform: scale(1.1) rotate(3deg);
}

/************* About section ************/
#hill-about {
  background-image: url('img/hill-about.svg'); 
  margin-top: -500px;
  height: 1100px;
  /* justify-content: flex-end; */
}

#hill-about .hill-content {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 5%;
}

#hill-about .wooden-sign{
  max-width: 600px;
}


/***************** Track section ******************/
#hill-tracks {
  background-image: url('img/hill-tracks.svg'); 
  margin-top: -500px;
  height: 1100px;
  text-align: center;
  padding-top: 20%;
}

#hill-tracks .wooden-sign{
  max-width: 600px;
}

#hill-tracks .content{
  max-width: 700px;
}

#hill-tracks .details{
  padding: 3% 7% 5% 7%;
}

#tracks-list{
  width: 70%;
}
/****************** Schedule section ***********/
#hill-schedule{
  background-image: url('img/hill-schedule.svg'); 
  margin-top: -500px;
  height: 1400px;
  text-align: center;
}

#hill-schedule .wooden-sign{
  justify-content: flex-end;
  position: relative;
  top: -15%;
}

#hill-schedule .hill-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
}


#hill-schedule .details img{
  width: 80%;
}

/* Sponsoring section */
#hill-sponsoring{
  background-image: url('img/hill-sponsoring.svg'); 
  margin-top: -800px;
  height: 1700px;
  text-align: center;
}

#hill-sponsoring .hill-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#hill-sponsoring .wooden-sign{
  width: 60%;
  justify-content: flex-end;
  /* position: relative;
  top: -15%; */
}

#hill-sponsoring .details{
  text-align: left;
  padding: 6% 7%;
  margin-bottom: -2%;
}

/* Highlights section */


/*Footer*/
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  bottom: 0px;
  background: #d2ece1;
  width: 100%;
  padding: 36px;
  z-index: 999;
  margin-top: -20%;
}

footer .email a{
  display: inline-box;
  font-family: 'Gill Sans';
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.03em;

  color: #254E1E;
}

footer .left,
footer .right {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 16px;
}

footer .social ul.icons {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 8px;
}

footer .social ul.icons #email:hover {
  content: url('img/Email_hover.png');
}

footer .social ul.icons #instagram:hover {
  content: url('img/Instagram_hover.png');
}

footer .social ul.icons #facebook:hover {
  content: url('img/Facebook_hover.png');
}

footer .social ul.icons #twitter:hover {
  content: url('img/Twitter_hover.png');
}

footer .right {
  text-align: right;
}

footer .mlh a {
  font-family: 'Montserrat Alternates';
  font-style: normal;
  font-weight: 500;
  font-size: 17.0323px;
  line-height: 160%;

  /* or 27px */
  text-align: right;
  text-decoration-line: underline;

  color: #7B988C;
}

footer .copyright {
  font-family: 'Montserrat Alternates';
  font-style: normal;
  font-weight: 500;
  font-size: 17.0323px;
  line-height: 160%;
  text-align: right;
  color: #558571;
}
