@font-face {
  font-family: AT Nezue;
  src: url(./font/NEZUE\ ExtraBold.otf);
}

body {
	padding: 0;
  margin: 0;
  background-color: #D2ECE1;
  background-image: url("img/sky-section.svg");
  background-repeat: no-repeat;
}

html { 
	scroll-behavior: smooth;
}

h2 {
  color: #152F11;
  font-size: 32px;
}

h3, h4, p {
  color: #152F11;
}

.hill_1 {
  position: relative;
  top: 450px;
  left: 0px;
  z-index: 0;
}

/* Header section */
.navbar {
	position: fixed;
	height: 59px;
	width: 100%;

	z-index: 9999;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 20px;

	background-color: #E9F7F1;
	color: #fff;
}

.nav-links label {
	margin-right: 40px;
	color: #254E1E;
}

.nav-links li {
  display: flex;
  justify-content: center;
}

.nav-links a {
	text-decoration: none;

	color: #254E1E;
	font-family: 'AT Nezue';
	font-size: 20px;
}

/* LOGO */
.logo {
	padding-left: 36px;

	font-weight: bold;
	font-size: 23px;
	font-family: 'AT Nezue';
	font-style: normal;
	font-weight: 900;
	font-size: 28px;
	line-height: 27px;
	display: flex;

	color: #9FC299;
	line-break: none;
	text-shadow: -1px 2px 0 #254E1E;
	-webkit-text-stroke: 1px #254E1E;
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}

/* NAVBAR MENU */
.menu {
	display: flex;
	gap: 1em;
	font-size: 18px;
	margin-right: 40px;
}

.menu img {
	width: 26px;
	display: relative;
	bottom: 3px;
  -webkit-filter: drop-shadow(-1px 1px 0 #254E1E);
  filter: drop-shadow(-1px 1px 0 #254E1E);
}

.menu li {
	list-style: none;
	padding: 5px 14px;
}

.menu-flower {
	position: relative;
	right: -40px;
}

/* DROPDOWN MENU */
.services {
	position: relative; 
}

/* CHECKBOX HACK */
input[type=checkbox]{
	display: none;
} 
/*HAMBURGER MENU*/
.hamburger {
	display: none;
	font-size: 24px;
	user-select: none;
}
/* APPLYING MEDIA QUERIES */
@media (max-width: 1024px) {
	.menu { 
		display:none;
		position: absolute;
		background: linear-gradient(to bottom, #E9F7F1, #9fc4b4);
		right: 0;
		left: 0;
		top: 59px;
		text-align: center;
		padding: 16px 0;
		border-top: 1px solid #9fc4b4;
	}

	.logo {
		padding-left: 0;
	}

	.menu li + li {
		margin-top: 12px;
	}

	.menu-flower {
		right: auto;
	}
	input[type=checkbox]:checked ~ .menu{
		display: block;
	}

	.hamburger {
		display: block;
	}
}


/* About section */
.hill_2 {
  position: absolute;
  top: 760px;
  left: 0px;
  z-index: 1;
}

.about_us {
  position: absolute;
  top: 950px;
  right: 0px;
  z-index: 7;
}

.about_section h2 {
  position: absolute;
  top: 995px;
  right: 280px;
  z-index: 8;
}

.about_text {
  position: absolute;
  width: 570px;
  height: 200px;
  top: 1130px;
  right: 35px;
  z-index: 8;
}

/* Track section */
.hill_3 {
  position: absolute;
  top: 1550px;
  left: 0px;
  z-index: 2;
}

.tracks {
  position: absolute;
  top: 1550px;
  left: 0px;
  z-index: 7;
}

.track_section h2 {
  position: absolute;
  top: 1623px;
  left: 470px;
  z-index: 8;
}

.productive {
  position: absolute;
  top: 1730px;
  left: 490px;
  z-index: 8;
}

.video_game {
  position: absolute;
  top: 1825px;
  left: 490px;
  z-index: 8;
}

.community {
  position: absolute;
  top: 1920px;
  left: 490px;
  z-index: 8;
}

.side_challenges h2 {
  position: absolute;
  top: 2000px;
  left: 330px;
  z-index: 8;
}

.tracks_vector {
  position: absolute;
  top: 1650px;
  right: 100px;
  z-index: 8;	
}

/* Schedule section */
.hill_4 {
  position: absolute;
  top: 2430px;
  left: 0px;
  z-index: 3;
}

.schedule {
  position: absolute;
  top: 2550px;
  right: 20px;
  z-index: 8;
}

/* FAQ section */
.hill_5 {
  position: absolute;
  top: 3300px;
  left: 0px;
  z-index: 4;
}

.FAQ_text {
  position: absolute;
  width: 1100px;
  top: 3400px;
  left: 20px;
  z-index: 8;	
}

.FAQ_text h4 {
  width: max-content;
  background-color: #D8C5A7;
}

.FAQ_section a {
  color: #5F9854;
}

.FAQ_section a:visited {
  color: #254E1E;
}

.FAQ_section a:hover {
  color: #FFD465;
}

/* Sponsoring section */
.hill_6 {
  position: absolute;
  top: 4180px;
  left: 0px;
  z-index: 5;
}

.sponsoring {
  position: absolute;
  top: 4300px;
  right: 20px;
  z-index: 7;
}

.sponsor_title {
  position: absolute;
  top: 4370px;
  right: 400px;
  z-index: 8;
}

.sponsor_1 {
  position: absolute;
  top: 4510px;
  right: 400px;
  z-index: 8;
}

.sponsor_text {
  position: absolute;
  width: 600px;
  top: 4555px;
  right: 175px;
  z-index: 8;
}

.sponsor_2 {
  position: absolute;
  top: 4760px;
  right: 430px;
  z-index: 8;
}

.why_sponsor_text {
  position: absolute;
  width: 600px;
  top: 4800px;
  right: 175px;
  z-index: 8;
}

/* Highlights section */
.hill_7 {
  position: absolute;
  top: 5190px;
  left: 0px;
  z-index: 6;
}

.sns_highlights {
  position: absolute;
  top: 5250px;
  left: 50px;
  z-index: 7;
}

.coming_soon {
  position: absolute;
  top: 5550px;
  left: 500px;
  z-index: 7;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  position: fixed;
  bottom: 0px;
  background: #d2ece1;
  width: 100%;
  padding: 36px;
  z-index: 999;
}

footer .email {
  display: inline-box;
  font-family: 'Gill Sans';
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.03em;

  color: #254E1E;
}

footer .left,
footer .right {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 16px;
}

footer .social ul.icons {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 8px;
}

footer .social ul.icons #email:hover {
  content: url('img/Email_hover.png');
}

footer .social ul.icons #instagram:hover {
  content: url('img/Instagram_hover.png');
}

footer .social ul.icons #facebook:hover {
  content: url('img/Facebook_hover.png');
}

footer .social ul.icons #twitter:hover {
  content: url('img/Twitter_hover.png');
}

footer .right {
  text-align: right;
}

footer .mlh a {
  font-family: 'Montserrat Alternates';
  font-style: normal;
  font-weight: 500;
  font-size: 17.0323px;
  line-height: 160%;

  /* or 27px */
  text-align: right;
  text-decoration-line: underline;

  color: #7B988C;
}

footer .copyright {
  font-family: 'Montserrat Alternates';
  font-style: normal;
  font-weight: 500;
  font-size: 17.0323px;
  line-height: 160%;
  text-align: right;
  color: #558571;
}
